#solution-box {
    background-color: rgb(221, 221, 221);
}

.step {
    border: solid 2px;
    border-color: black;
    margin-top: 15px;
}

.step-element {
    border-right: solid 1px;
    border-color: black;
    padding-inline: 5px;
    margin-right: 5px;
}

.step-row {
    border-bottom: solid 1px;
    display: flex;
}

.answer {
    border: solid 2px;
    border-color: green;
    margin-top: 15px;
}